streamlit==1.65.0
pandas==2.2.3
numpy==2.3.5
scikit-learn==1.8.0
scipy==1.17.0
joblib==1.5.3
nltk==3.10.3
openpyxl==3.1.5
tensorflow-cpu==2.21.0
keras==3.15.1
matplotlib==3.10.8
langdetect==1.0.9
pytest==8.4.2
python-docx==1.2.0
